.chatMessageForm {
    border: solid black 4px;
}

.chatMessageFormTextArea {
    height: 35px;
    width: 438px;
    background-color: rgba(255, 255, 255, 0.562);
    color: black;
    font-weight: bold;
    border: 0;
}

.chatMessageFormSendButton {
    width: 50px;
    height: 37px;
    background-color: rgba(0, 0, 0, 0.856);
    color: whitesmoke;
    font-weight: bolder;
    border: 0;
}

.chatMessageFormSendButton:hover {
    background-color: rgba(14, 13, 13, 0.452);
    cursor: pointer;
}