.signUpButton {
    color: whitesmoke;
    font-weight: bolder;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.877);
    border: 0;
    width: 150px;
    height: 75px;
    margin: 10px;
}

.signUpButton:hover {
    background-color: rgb(66, 63, 63);
    cursor: pointer;
}